<a href="https://colab.research.google.com/github/maiphuctram/Colab/blob/main/B%E1%BA%A3n_sao_c%E1%BB%A7a_bai_tap_phan_tich_anova_1_chieu(me).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hãy sử dụng các tập dữ liệu sau và tiến hành phân tích ANOVA 1 chiều

- [Excavation Depth and Archaeology](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan01.html)
- [Apple Orchard Experiment](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan02.html)
- [Red Dye Number 40](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan03.html)
- [Business Startup Costs](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan04.html)
- [Weights of Football Players](https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/owan/frames/owan05.html)

Excavation Depth and Archaeology

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
import xlrd
import math

In [38]:
# kiểm tra tính phân phối chuẩn
def Shapiro(data):
    print("Kiểm định Shapiro -", data.name)
    stat, pvalue = stats.shapiro(data)
    if pvalue > 0.05:
        print("chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn")
    else:
        print("có bằng chứng bác bỏ Ho,mẫu ko phân theo phân phối chuẩn")

In [35]:
#kiểm tra sự khác biệt của phương sai
def bartlett(a, b, c, d): 
    print("Kiểm định Bartlett:")
    stat, pvalue = stats.bartlett(a, b, c, d)
    print("Statistic =", stat, 
          "p value =", pvalue)
    if pvalue > 0.05:
        print("chưa có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại mang tính đồng nhất về phương sai")
    else:
        print("có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại ko mang tính đồng nhất về phương sai")

In [36]:
#anova_test
def anova(a, b, c, d):
    print("Kiểm định Anova:")
    stat, pvalue = stats.f_oneway(a, b, c, d)
    print("Stat =", stat,
          "p value =", pvalue)
    if pvalue < 0.05:
        print("Có bằng chứng thống kê để bác bỏ giả thuyết H0")
    else:
        print("Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0")

In [5]:
from google.colab import files
uploaded = files.upload()

Saving owan01.xls to owan01.xls
Saving owan02.xls to owan02.xls
Saving owan03.xls to owan03.xls
Saving owan04.xls to owan04.xls
Saving owan05.xls to owan05.xls

In [11]:
import pandas as pd
excel_file = 'owan01.xls'
df = pd.read_excel(excel_file)
df

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2     X3    X4
0    93  85.0  100.0  96.0
1   120  45.0   75.0  58.0
2    65  80.0   65.0  95.0
3   105  28.0   40.0  90.0
4   115  75.0   73.0  65.0
5    82  70.0   65.0  80.0
6    99  65.0   50.0  85.0
7    87  55.0   30.0  95.0
8   100  50.0   45.0  82.0
9    90  40.0   50.0   NaN
10   78   NaN   45.0   NaN
11   95   NaN   55.0   NaN
12   93   NaN    NaN   NaN
13   88   NaN    NaN   NaN
14  110   NaN    NaN   NaN

In [39]:
x1_1 = df['X1']
x1_2 = df['X2']
x1_3 = df['X3']
x1_4 = df['X4']

#kiểm tra tính đồng nhất về phương sai
print(bartlett(x1_1, x1_2, x1_3, x1_4))

#kiểm tra tính phân phối chuẩn
print(Shapiro(x1_1))
print(Shapiro(x1_2))
print(Shapiro(x1_3))
print(Shapiro(x1_4))
#kiểm định ANOVA
print(anova(x1_1, x1_2, x1_3, x1_4))

Kiểm định Bartlett:
Statistic = 2.440153553631599 p value = 0.48620382137845997
chưa có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại mang tính đồng nhất về phương sai
None
Kiểm định Shapiro - X1
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X2
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X3
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X4
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Anova:
Stat = nan p value = nan
Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0
None

Apple Orchard Experiment

In [22]:
import pandas as pd
excel_file = 'owan02.xls'
df1 = pd.read_excel(excel_file)
df1

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2    X3    X4    X5
0  2569  2074  2505  2838  1532
1  2928  2885  2315  2351  2552
2  2865  3378  2667  3001  3083
3  3844  3906  2390  2439  2330
4  3027  2782  3021  2199  2079
5  2336  3018  3085  3318  3366
6  3211  3383  3308  3601  2416
7  3037  3447  3231  3291  3100

In [23]:


x2_1 = df1['X1']
x2_2 = df1['X2']
x2_3 = df1['X3']
x2_4 = df1['X4']

#kiểm tra tính đồng nhất về phương sai
print(bartlett(x1_1, x1_2, x1_3, x1_4))

#kiểm tra tính phân phối chuẩn
print(Shapiro(x1_1))
print(Shapiro(x1_2))
print(Shapiro(x1_3))
print(Shapiro(x1_4))

#kiểm định ANOVA
print(anova(x1_1, x1_2, x1_3, x1_4))

Kiểm định Bartlett:
Statistic = 2.440153553631599 p value = 0.48620382137845997
chưa có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại mang tính đồng nhất về phương sai
None
Kiểm định Shapiro - X1
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X2
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X3
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X4
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Anova:
Stat = nan p value = nan
Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0
None

Red Dye Number 40

In [24]:
import pandas as pd
excel_file = 'owan03.xls'
df2 = pd.read_excel(excel_file)
df2

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1    X2    X3     X4
0    70  49.0  30.0   34.0
1    77  60.0  37.0   36.0
2    83  63.0  56.0   48.0
3    87  67.0  65.0   48.0
4    92  70.0  76.0   65.0
5    93  74.0  83.0   91.0
6   100  77.0  87.0   98.0
7   102  80.0  90.0  102.0
8   102  89.0  94.0    NaN
9   103   NaN  97.0    NaN
10   96   NaN   NaN    NaN

In [25]:

x3_1 = df2['X1']
x3_2 = df2['X2']
x3_3 = df2['X3']
x3_4 = df2['X4']

#kiểm tra tính đồng nhất về phương sai
print(bartlett(x3_1, x3_2, x3_3, x3_4))

#kiểm tra tính phân phối chuẩn
print(Shapiro(x3_1))
print(Shapiro(x3_2))
print(Shapiro(x3_3))
print(Shapiro(x3_4))

#kiểm định ANOVA
print(anova(x3_1, x3_2, x3_3, x3_4))

Kiểm định Bartlett:
Statistic = 12.022305190389242 p value = 0.007307141609688417
có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại ko mang tính đồng nhất về phương sai
None
Kiểm định Shapiro - X1
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X2
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X3
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X4
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Anova:
Stat = nan p value = nan
Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0
None


 Business Startup Costs
```
# Định dạng của đoạn này là mã
```

In [26]:
import pandas as pd
excel_file = 'owan04.xls'
df3 = pd.read_excel(excel_file)
df3

*** No CODEPAGE record, no encoding_override: will use 'ascii'

       X1     X2     X3     X4   X5
0    80.0  150.0   48.0  100.0   25
1   125.0   40.0   35.0   96.0   80
2    35.0  120.0   95.0   35.0   30
3    58.0   75.0   45.0   99.0   35
4   110.0  160.0   75.0   75.0   30
5   140.0   60.0  115.0  150.0   28
6    97.0   45.0   42.0   45.0   20
7    50.0  100.0   78.0  100.0   75
8    65.0   86.0   65.0  120.0   48
9    79.0   87.0  125.0   50.0   20
10   35.0   90.0    NaN    NaN   50
11   85.0    NaN    NaN    NaN   75
12  120.0    NaN    NaN    NaN   55
13    NaN    NaN    NaN    NaN   60
14    NaN    NaN    NaN    NaN   85
15    NaN    NaN    NaN    NaN  110

In [31]:

x4_1 = df3['X1']
x4_2 = df3['X2']
x4_3 = df3['X3']
x4_4 = df3['X4']


#kiểm tra tính đồng nhất về phương sai
print(bartlett(x4_1, x4_2, x4_3, x4_4))

#kiểm tra tính phân phối chuẩn
print(Shapiro(x4_1))
print(Shapiro(x4_2))
print(Shapiro(x4_3))
print(Shapiro(x4_4))


#kiểm định ANOVA
print(anova(x4_1, x4_2, x4_3, x4_4))

Kiểm định Bartlett:
Statistic = 0.7096149389899192 p value = 0.8709401220405605
chưa có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại mang tính đồng nhất về phương sai
None
Kiểm định Shapiro - X1
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X2
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X3
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X4
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Anova:
Stat = nan p value = nan
Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0
None

Weights of Football Players

In [29]:
import pandas as pd
excel_file = 'owan05.xls'
df4 = pd.read_excel(excel_file)
df4

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X1   X2   X3   X4   X5
0   250  260  270  260  247
1   255  271  250  255  249
2   255  258  281  265  255
3   264  263  273  257  247
4   250  267  257  268  244
5   265  254  264  263  245
6   245  255  233  247  249
7   252  250  254  253  260
8   266  248  268  251  217
9   246  240  252  252  208
10  251  254  256  266  228
11  263  275  265  264  253
12  248  270  252  210  249
13  228  225  256  236  223
14  221  222  235  225  221
15  223  230  216  230  228
16  220  225  241  232  271

In [32]:


x5_1 = df4['X1']
x5_2 = df4['X2']
x5_3 = df4['X3']
x5_4 = df4['X4']


#kiểm tra tính đồng nhất về phương sai
print(bartlett(x5_1, x5_2, x5_3, x5_4))

#kiểm tra tính phân phối chuẩn
print(Shapiro(x5_1))
print(Shapiro(x5_2))
print(Shapiro(x5_3))
print(Shapiro(x5_4))


#kiểm định ANOVA
print(anova(x5_1, x5_2, x5_3, x5_4))

Kiểm định Bartlett:
Statistic = 0.20395005173624925 p value = 0.976949119375083
chưa có bằng chứng thống kê bác bỏ Ho, điều này ngụ ý mẫu hiện tại mang tính đồng nhất về phương sai
None
Kiểm định Shapiro - X1
có bằng chứng bác bỏ Ho,mẫu ko có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X2
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X3
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Shapiro - X4
chưa có bằng chứng bác bỏ Ho,mẫu có thể phân theo phân phối chuẩn
None
Kiểm định Anova:
Stat = 0.5862084740025069 p value = 0.6262423408029135
Chưa có bằng chứng thống kê để bác bỏ giả thuyết H0
None